.excellence {
  @extend %list;
  @include centeredFlex();
}

.excellence {
  &__item {
    width: 270px;
  }
}

.excellence {
  &__thumb {
    text-align: center;
    margin-bottom: 30px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
  }
}

.excellence {
  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}

.excellence {
  &__text {
    width: 270px;
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.71;
  }
}

.excellence {
  &__item:not(:first-child) {
    margin-left: 30px;
  }
}
