.menu{
    @extend %list;
   @include centeredFlex();
  margin-bottom: 50px;
 
}

.menu{
  &__item:not(:first-child){
    margin-left: 8px;
  }
}

.menu{
  &__button {
  display: inline-block;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  min-width: 73px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.menu{
  &__button:hover,
  &__button:focus {
  background-color: $accent-color;
  color: $white-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
}