.work{
      @extend %list;
    @include centeredFlex();
}

.work{
    &__thumb {
  position: relative;
}
}

.work{
    &__apps{
         position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  background: rgba(47, 48, 58, 0.8);
    }
}

.work{
    &__thumb:not(:first-child) {
  margin-left: 30px;
}
}